li.contact.list-group-item.container
  a(data-hook="name")
  span.btn-group.pull-right
    a.btn.btn-default(data-hook="action-edit") edit
    a.btn.btn-danger(href="#", data-hook="action-delete") delete
